In [3]:
import pandas as pd               # for Data Manipulation
import numpy as np                #for Mathematical calculations

In [4]:
data1=pd.read_csv(r'C:\Users\sidda\Kmeans_labour.csv')

In [5]:
data=data1.drop(['ID','COUNTRY','DATE','ENTRY_TIME','EXIT_TIME','NO OF HOURS WORKED'],axis=1)

In [6]:
data.head()

,GENDER,SITE,ROLE,AGE,EXTRA HOURS WORKED,TOTAL HOURS,ACTIVE TIME OF WORKER,BODY TEMP,HAZARDIOUS,clust
0,1,0,0,32,4,8,6,99,1,1
1,0,1,1,22,0,8,6,98,0,3
2,1,2,2,45,0,8,4,102,0,1
3,1,3,0,36,0,8,7,96,0,0
4,1,4,0,44,4,12,9,95,0,2

In [7]:
# Input and Output Split
predictors = data.iloc[:, :-1]
target = data.iloc[:,-1]

In [8]:
target

0     1
1     3
2     1
3     0
4     2
     ..
95    0
96    0
97    1
98    0
99    0
Name: clust, Length: 100, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.35, random_state=0)

In [10]:
from sklearn.tree import DecisionTreeClassifier as DT
model = DT(criterion = 'entropy')
model.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [11]:
preds = model.predict(x_test)
pd.crosstab(y_test, preds, rownames=['Actual'], colnames=['Predictions'])

Predictions   0  1  2   3
Actual
0            12  0  0   0
1             0  7  0   0
2             0  1  2   0
3             0  2  0  11

In [12]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_test, model.predict(x_test))

0.9142857142857143

In [13]:
preds = model.predict(x_train)
pd.crosstab(y_train, preds, rownames = ['Actual'], colnames = ['Predictions'])

Predictions   0   1  2   3
Actual
0            23   0  0   0
1             0  13  0   0
2             0   0  3   0
3             0   0  0  26

In [14]:
# Train Data Accuracy 
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_train, model.predict(x_train))

1.0

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
rf_clf = RandomForestClassifier(n_estimators=100, n_jobs=1, random_state=42)

In [17]:
rf_clf.fit(x_train, y_train)

RandomForestClassifier(n_jobs=1, random_state=42)

In [18]:
# Test Data Accuracy 
from sklearn.metrics import accuracy_score, confusion_matrix
confusion_matrix(y_test, rf_clf.predict(x_test))
accuracy_score(y_test, rf_clf.predict(x_test))

0.9714285714285714

In [19]:
accuracy_score(y_train, rf_clf.predict(x_train))

1.0

In [20]:
# model is over fitting so do hyperparameter tuning

In [21]:
#creating model with new parameters

In [22]:
forest_new = RandomForestClassifier(n_estimators=310,max_depth=10,min_samples_split=30,criterion='gini')  # n_estimators is the number of decision trees
forest_new.fit(x_train, y_train)

RandomForestClassifier(max_depth=10, min_samples_split=30, n_estimators=310)

In [23]:
print('Train accuracy: {}'.format(forest_new.score(x_train, y_train)))
print('Test accuracy: {}'.format(forest_new.score(x_test, y_test)))

Train accuracy: 0.9538461538461539
Test accuracy: 0.9714285714285714

In [25]:
import pickle
pickle.dump(forest_new, open('model1.pkl','wb'))